doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    style.
      table {
      width:100%;
      }
      table, th, td {
      border: 0px solid black;
      border-collapse: collapse;
      }
      header, tr, th, td {
      padding: 24px;
      text-align: left;
      }
      header, table, th {
      background-color: grey;
      color: white;
      }
    title P2P-network Client
  body
    header
      h1 p2p-Chat
    table
      tbody
        tr
          th Node
          th
            span #{UUID}
            br
            br
            span #{URL}
        tr
          th Recipient Peer
          th
            input#recipient_holder(type='text', placeholder='e.g., 127.0.0.1:8080')
        tr
          th
            | Message
            br
            br
            button#send_button Send
          th
            textarea#message_holder(rows='4', cols='80', placeholder='Type your message here')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script.
      $(document).ready(function() {
      const URL = document.URL.replace("localhost", "127.0.0.1");
      $("#send_button").click(function() {
      // POST request configuration
      const url = URL + "messages/send";
      const recipientURL = document.getElementById("recipient_holder").value;
      const message = document.getElementById("message_holder").value;
      $.ajax({
      url: url,
      type: "POST",
      data: {
      recipientURL: recipientURL,
      message: message
      },
      success: function(result) {
      console.log(result);
      },
      error: function(error) {
      console.log(error);
      }
      });
      });
      });
